
<!-- List of Users -->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">client</th>
      <th scope="col">stage</th>
      <!-- <th scope="col">tender-id</th> -->
      <th scope="col">published</th>
      <th scope="col">submission</th>
      <th scope="col">security-amount</th>
      <!-- <th scope="col">credit-facility</th> -->
      <!-- <th scope="col">Issuing Date</th> -->
      <th scope="col">Expiry Date</th>
      <th scope="col">submission</th>
      <th scope="col">result</th>
      <th scope="col" colspan="6">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of allSpradSheetData; let j = index">
      <td>{{ j +1 }}</td>
      <td>{{ i.client}}</td>
      <td>{{ i.stage }}</td>
      <!-- <td>{{ i.tenderId }}</td> -->
      <td>{{ i.published}}</td>
      <td>{{ i.submissionDate}}</td>
      <td>{{ i.securityAmount}}</td>
      <!-- <td>{{ i.creditFacility}}</td> -->
      <!-- <td>{{ i.issuingDate}}</td> -->

      <td>{{ i.expiryDate}}</td>
      <td>{{ i.submission}}</td>
      <td>{{ i.result}}</td>
      <td>
        <!-- <span>{{ i.password }}</span> -->
        <button 
          class="btn btn-sm btn-secondary ml-2"
          > Show Details </button>
      </td>
      
    </tr>
  </tbody>
</table>