<div class="contaner">
<div class="table-and-chart-holder">
<div class="table-container" *ngIf="!selectedItem">
  <div class="date-filter p-4" *ngIf="!isContainBidTrackerUrl">
    <p><strong>Showing Report of:</strong></p>

    <!-- FROM DATE PICKER -->
    <label><strong>From Date:</strong></label>
    <input
      type="date"
      [(ngModel)]="fromDateRaw"
      (change)="updateFormattedDates()"
    />
    <br />

    <!-- TO DATE PICKER -->
    <label><strong>To Date:</strong></label>
    <input
      type="date"
      [(ngModel)]="toDateRaw"
      (change)="updateFormattedDates()"
    />
    <button class="btn btn-primary" (click)="showReport()">Show Report</button>
  </div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">client</th>
      <th scope="col">stage</th>
      <th scope="col">published</th>
      <th scope="col">submission</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">submission</th>
      <th scope="col">result</th>
      <th scope="col" colspan="6">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of paginatedData; let j = index">
      <td>{{ (currentPage - 1) * pageSize + j + 1 }}</td>
      <td>{{ i.client }}</td>
      <td>{{ i.stage }}</td>
      <td>{{ i.published }}</td>
      <td>{{ i.submissionDate }}</td>
      <td>{{ i.expiryDate }}</td>
      <td [ngStyle]="{
            'color': i.submission === 'Not Submitted' ? 'red' : 
                    (i.submission === 'Submitted' ? 'green' : 'black'),
          }">{{ i.submission }}</td>
      <td>{{ i.result }}</td>
      <td>
       <button 
        class="btn btn-sm btn-secondary ml-2"
        (click)="selectedItem = i; showDetails()">
       <i class="far fa-eye"></i>
      </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Pagination Controls -->
<div class="mt-3 pagination">
  <button
    *ngFor="let page of [].constructor(totalPages()); let i = index"
    (click)="changePage(i + 1)"
    [disabled]="currentPage === i + 1"
    class="btn btn-outline-primary btn-sm mx-1"
  >
    {{ i + 1 }}
  </button>
</div>
</div>
</div>
<!-- Details View -->
<app-bid-tracker-details-component 
  *ngIf="selectedItem" 
  [data]="selectedItem">
</app-bid-tracker-details-component>

<div class="goBackContainer">
  <div *ngIf="selectedItem" class="goBack" (click)="goBack()">
  <i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back
</div>
</div>

<div class="chart-container">
<div class="chart">
<ng-template #chartContainer></ng-template>
</div>
<br>
<br>
<div class="chart-by-client-container">
   <h3 *ngIf="!selectedItem">Summary By Client</h3>
   <div class="chart-by-client">
  <ng-template #chartByClientContainer></ng-template>
</div>
</div>
</div>
</div>

