<div class="contaner">
<div class="table-and-chart-holder">
<div class="table-container" *ngIf="!selectedItem" >
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">client</th>
      <th scope="col">stage</th>
      <th scope="col">published</th>
      <th scope="col">submission</th>
      <th scope="col">security-amount</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">submission</th>
      <th scope="col">result</th>
      <th scope="col" colspan="6">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of paginatedData; let j = index">
      <td>{{ (currentPage - 1) * pageSize + j + 1 }}</td>
      <td>{{ i.client }}</td>
      <td>{{ i.stage }}</td>
      <td>{{ i.published }}</td>
      <td>{{ i.submissionDate }}</td>
      <td>{{ i.securityAmount }}</td>
      <td>{{ i.expiryDate }}</td>
      <td>{{ i.submission }}</td>
      <td>{{ i.result }}</td>
      <td>
       <button 
        class="btn btn-sm btn-secondary ml-2"
        (click)="selectedItem = i"
      >
        Show Details
      </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination Controls -->
<div class="mt-3 pagination">
  <button
    *ngFor="let page of [].constructor(totalPages()); let i = index"
    (click)="changePage(i + 1)"
    [disabled]="currentPage === i + 1"
    class="btn btn-outline-primary btn-sm mx-1"
  >
    {{ i + 1 }}
  </button>
</div>
</div>
</div>
<!-- Details View -->
<app-bid-tracker-details-component 
  *ngIf="selectedItem" 
  [data]="selectedItem">
</app-bid-tracker-details-component>

<div class="goBackContainer">
  <div *ngIf="selectedItem" class="goBack" (click)="goBack()">
  <i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back
</div>
</div>

<div class="chart">
<ng-template #chartContainer></ng-template>
</div>
</div>